{{ define "upstream" }}
  {{ if .Address }}
    {{/* If we got the containers from swarm and this containers port is published to host, use host IP:PORT */}}
    {{ if and .Container.Node.ID .Address.HostPort }}
http://{{ .Container.Node.Address.IP }}:{{ .Address.HostPort }}
    {{/* If there is no swarm node or the port is not published on host, use containers IP:PORT */}}
    {{ else if .Address.IP }}
http://{{ .Address.IP }}:{{ .Address.Port }}
    {{ else }}
http://{{ .Container.Name }}:{{ .Address.Port }}
    {{ end }}
  {{ end }}
{{ end }}

{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}

{{ range $container := $containers }}
  {{ $addrLen := len $container.Addresses }}
  {{/* If only 1 port exposed, use that */}}
  {{ if eq $addrLen 1 }}
    {{ $address := index $container.Addresses 0 }}
{{$host}} -> {{ template "upstream" (dict "Container" $container "Address" $address) }}
  {{/* If more than one port exposed, use the one matching VIRTUAL_PORT env var, falling back to standard web port 80 */}}
  {{ else }}
    {{ $port := coalesce $container.Env.VIRTUAL_PORT "80" }}
{{$host}} -> {{ $address := where $container.Addresses "Port" $port | first }}
    {{ template "upstream" (dict "Container" $container "Address" $address) }}
  {{ end }}
,
{{ end }}

{{end}}
