<!DOCTYPE html>
<html>
<head>
<title>Welcome to HTTPS-PORTAL!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to HTTPS-PORTAL!</h1>
<p>
  Your site is avaible in HTTPS with certificate issued by
  <a href="https://letsencrypt.org">Let's Encrypt</a>.
</p>
<p>
  You can replace this page with your own static files, by mounting your own www
  root directory as a data volume at <strong><%= domain.www_root %></strong>.
</p>
<p>
  For more detailed information about static sites, check
  <a href="https://github.com/SteveLTN/https-portal#serving-static-sites">Serving
     Static Sites</a> section of the documents.
</p>
<p>
  If you did not turn on "PRODUCTION" flag in HTTPS-PORTAL config, you are using
  a test certificate issued by Let's Encrypt staging server which might not be
  trusted by your browser.
</p>
<p>
  Documents are available at
  <a href="https://github.com/SteveLTN/https-portal">https://github.com/SteveLTN/https-portal</a>.
</p>
</body>
</html>
