# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# They will be requested for review when someone opens a pull request.
*       @dapplion @eduadiez @pablomendezroyo 

# Order is important; the last matching pattern takes the most precedence. When someone opens a pull request that only
# modifies md files, only md owners and not the global owner(s) will be requested for a review.
*.md    @Pol-Lanski @dapplion @eduadiez @pablomendezroyo 
